<%= form_for(@uv_checklist) do |f| %>
  <% if @uv_checklist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@uv_checklist.errors.count, "error") %> prohibited this uv_checklist from being saved:</h2>

      <ul>
      <% @uv_checklist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vehicle_id, 'Vehicle checklist for:' %><br>
    <%= f.collection_select(:vehicle_id, Vehicle.where(vehicle_type: 'used').where("id NOT in (?)", UvChecklist.where('vehicle_id IS NOT NULL').uniq.pluck(:vehicle_id) ), :id, :stocknum) %><br>
  </div>

  <div class="field">
    <%= f.label :msi_cpo %><br>
    <%= f.check_box :msi_cpo %>
  </div>
  <div class="field">
    <%= f.label :msi_cpo_completed_by %><br>
    <%= f.text_field :msi_cpo_completed_by %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :paint_wheels %><br>
    <%= f.check_box :paint_wheels %>
  </div>
  <div class="field">
    <%= f.label :details %><br>
    <%= f.text_area :details %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
