<h1>Listing uv_checklists</h1>

<table>
  <thead>
    <tr>
      <th>Msi cpo</th>
      <th>Msi cpo completed by</th>
      <th>Notes</th>
      <th>Paint wheels</th>
      <th>Details</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uv_checklists.each do |uv_checklist| %>
      <tr>
        <td><%= uv_checklist.msi_cpo %></td>
        <td><%= uv_checklist.msi_cpo_completed_by %></td>
        <td><%= uv_checklist.notes %></td>
        <td><%= uv_checklist.paint_wheels %></td>
        <td><%= uv_checklist.details %></td>
        <td><%= link_to 'Show', uv_checklist %></td>
        <td><%= link_to 'Edit', edit_uv_checklist_path(uv_checklist) %></td>
        <td><%= link_to 'Destroy', uv_checklist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Uv checklist', new_uv_checklist_path %>
