<% content_for :title, "Used Checklists" %>
<h1>Used Vehicle Checklists</h1>

<table id="used_checklist_table" class="table table-striped table-bordered table-hover table-condensed table-responsive">
  <thead>
    <tr>
      <th>Msi cpo</th>
      <th>Msi cpo completed by</th>
      <th>Notes</th>
      <th>Paint wheels</th>
      <th>Details</th>
      <th>Vehicle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uv_checklists.each do |uv_checklist| %>
      <tr>
        <td><%= uv_checklist.msi_cpo %></td>
        <td><%= uv_checklist.msi_cpo_completed_by %></td>
        <td><%= uv_checklist.notes %></td>
        <td><%= uv_checklist.paint_wheels %></td>
        <td><%= uv_checklist.details %></td>
        <td><%= link_to Vehicle.find(uv_checklist.vehicle_id).stocknum, Vehicle.find(uv_checklist.vehicle_id) %></td>
        <td><%= link_to 'Show', uv_checklist %></td>
        <td><%= link_to 'Edit', edit_uv_checklist_path(uv_checklist) %></td>
        <td><%= link_to 'Destroy', uv_checklist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Uv checklist', new_uv_checklist_path %>
