<% content_for :title, "Vehicles" %>
<h1>Listing Vehicles</h1>

<%= form_tag vehicles_path, :method => 'get', :id => "vehicles_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  
<% end %>

<br/><br/>

<div id="vehicles"><%= render 'vehicles' %></div>

<br/>

<%= link_to 'New Vehicle', new_vehicle_path %>
