<p id="notice"><%= notice %></p>

<p>
  <strong>Ext color:</strong>
  <%= @vehicle.ext_color %>
</p>

<p>
  <strong>Int color:</strong>
  <%= @vehicle.int_color %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @vehicle.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @vehicle.long %>
</p>

<p>
  <strong>Make:</strong>
  <%= @vehicle.make %>
</p>

<p>
  <strong>Mileage:</strong>
  <%= @vehicle.mileage %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>Vehicle type:</strong>
  <%= @vehicle.vehicle_type %>
</p>

<p>
  <strong>Price:</strong>
  <%= @vehicle.price %>
</p>

<p>
  <strong>Stocknum:</strong>
  <%= @vehicle.stocknum %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @vehicle.vin %>
</p>

<p>
  <strong>Year:</strong>
  <%= @vehicle.year %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
